$arr-t-paragraphs-sizes:  $font-size-s, $font-size-s, $font-size-m; // 15,15,20
$t-author:                $font-size-s;
$t-small-text:            $font-size-s;
$t-relatedlists:          $font-size-xs;

/*----------  Body  ----------*/

* {
  font-family: inherit;
  line-height: inherit; // outline-color: $color-outline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-sans;
  font-size: $font-size-m;
  line-height: $line-height-default;

  @include mq(tablet) {
    font-size: $font-size-default;
    line-height: $line-height-m;
  }
}

/*----------  Paragraphs  ----------*/

p {
  font-size: $font-size-s;

  @include mq(tablet) {
    font-size: $font-size-default;
  }
}

/*----------  Default text  ----------*/

a {
  color: $color-link;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $color-link-hover;
    text-decoration: none;
  }
}

strong {
  font-weight: $font-weight-medium;
}

em {
  font-style: italic;
}

small {
  font-size: $t-small-text;
}
