// *------------------------------------*
//    ICONS
// *------------------------------------*

$icon-width-s: (30/16) * 1rem;
$icon-height-s: (30/16) * 1rem;

$icon-width-m: (44/16) * 1rem;
$icon-height-m: (44/16) * 1rem;

// default
$icon-width-default:  $icon-width-m;
$icon-height-default: $icon-height-m;

$icon-margin-from-text: px(10);
$icon-margin-from-item: px(20);
